<div class="container">
  <h1>Take the three question personality test</h1>
  <br>
  <br>

  <form action="/survey" method="post" class="form-horizonal">
    <ol>
      <li>
        You work best:
        <input type="radio" name="deadline" value="with">
        With DeadLines
        <input type="radio" name="deadline" value="without">
        Without DeadLines
      </li>
      <li>
        You consider yourself more:
        <input type="radio" name="consider_yourself" value="rational">
        Rational
        <input type="radio" name="consider_yourself" value="compassionate">
        Compassionate
      </li>
      <li>
        You are more interested in:
        <input type="radio" name="interest" value="facts">
        Facts
        <input type="radio" name="interest" value="ideas">
        Ideas
      </li>

    </ol>

    <input type="submit" class="btn btn-primary" >
  </form>
    
</div>